<div class="toc-container">
    <li class="menu-title">On This Page</li>
    <ul class="menu" *ngIf="headings.length > 0">
        <ng-container *ngFor="let h of headings">
            <ng-container *ngTemplateOutlet="tocItem; context: { $implicit: h }"></ng-container>
        </ng-container>
    </ul>
</div>

<ng-template #tocItem let-h>
    <li>
        <div (click)="onAnchorClick($event, h.id)">{{ h.text }}</div>

        <ul *ngIf="h.children && h.children.length > 0">
            <ng-container *ngFor="let child of h.children">
                <ng-container *ngTemplateOutlet="tocItem; context: { $implicit: child }"></ng-container>
            </ng-container>
        </ul>
    </li>
</ng-template>